<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gerenciar Atendimentos</title>
</head>

<body>
    <h1>Filtrar Atendimentos:</h1>
    <form action="" method="get">
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            {% for key, value in arendimento_status_choices.items() %}
            <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select><br><br>

        <label for="sessao_id">Selecionar Sessão:</label>
        <select name="sessao_id" id="sessao_id" required>
            {% for sessao in sessoes %}
            <option value="{{ sessao.id }}">Sessão {{ sessao.id }} ({{ sessao.inicio }} - {{ sessao.fim }})
                {% for servico in sessao.servicos_disponiveis %}| {{servico.nome}} {% endfor %}</option>
            {% endfor %}
        </select><br><br>

        <label for="servico_id">Selecionar Serviço:</label>
        <select name="servico_id" id="servico_id">
            <option value="">Selecione...</option>
            {% for servico in servicos %}
            <option value="{{ servico.id }}">{{ servico.nome }}</option>
            {% endfor %}
        </select><br><br>


        <button type="submit">Aplicar Filtros</button>

    </form>

    <button onclick="window.location.href= '/atendimentos/gerenciar/atendimentos/'">Remover Filtros</button>

    <hr>

    <h1>Resultados:</h1>
    {% for result in results %}
    <a href="/atendimentos/gerenciar/atendimentos/details/{{result.id}}" target="_blank">
        <p><strong>Ordem de Chegada:</strong> {{result.ordem_chegada}}</p>
        <p><strong>Nome do Paciente:</strong> {{result.cadastro_geral.name}}</p>
        <p><strong>Serviço:</strong> {{result.servico.nome}}</p>
        <p><strong>Status:</strong> {{result.status}}</p>
        <p><strong>Data de encerramento:</strong> {{result.dt_encerramento}}</p>
    </a>
    <br>
    {% endfor %}
</body>

</html>