<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Gerenciar Sessões de Atendimento</title>
</head>

<body>
    <h1>Criar Sessão de Atendimento</h1>
    <form id="createSessaoForm" action="/atendimentos/sessao/" method="post">
        <label for="inicio">Início:</label>
        <input type="datetime-local" name="inicio" id="inicio" required>
        <br><br>
        <label for="fim">Fim:</label>
        <input type="datetime-local" name="fim" id="fim" required>
        <br><br>
        <button type="submit">Criar Sessão</button>
    </form>

    <hr>

    <h1>Adicionar Serviço a uma Sessão</h1>
    <form id="addServicoForm" action="/atendimentos/sessao/add_servico" method="post">
        <label for="sessao_id">Selecionar Sessão:</label>
        <select name="sessao_id" id="sessao_id" required>
            {% for sessao in sessoes %}
            <option value="{{ sessao.id }}">Sessão {{ sessao.id }} ({{ sessao.inicio }} - {{ sessao.fim }})
                {% for servico in sessao.servicos_disponiveis %}| {{servico.nome}} {% endfor %}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="servico_id">Selecionar Serviço:</label>
        <select name="servico_id" id="servico_id" required>
            {% for servico in servicos %}
            <option value="{{ servico.id }}">{{ servico.nome }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Adicionar Serviço</button>
    </form>

    <hr>

    <h1>Criar Serviço</h1>

    <form id="createServicoForm" action="/atendimentos/servico/" method="post">
        <label for="nome">Nome do Serviço:</label>
        <input type="text" id="nome" name="nome" required>
        <br><br>

        <button type="submit">Criar Serviço</button>
    </form>

    <script>
        async function formToJson(event, successMessage) {
            // Prevent the default form submission
            event.preventDefault();

            // Get the form data
            const form = event.target;
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => { data[key] = value })

            try {
                const response = await fetch(form.action, {
                    method: form.method,
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    alert(successMessage);
                    const successData = await response.json()
                    console.log(successData)
                    window.location.reload()
                } else {
                    const errorData = await response.json();
                    console.log(errorData)
                    alert('Erro ao adicionar dependente: ' + errorData.detail[0].msg);
                }
            } catch (error) {
                console.error('Erro:', error);
                alert('Ocorreu um erro ao enviar o formulário.');
            }
        }

        document.getElementById('createSessaoForm').addEventListener('submit', (event) => formToJson(event, 'Sessão de atendimentos criada com sucesso!'));
        document.getElementById('addServicoForm').addEventListener('submit', (event) => formToJson(event, 'Serviço adicionado à sessão com sucesso!'));
        document.getElementById('createServicoForm').addEventListener('submit', (event) => formToJson(event, 'Serviço criado com sucesso!'));
    </script>
</body>

</html>